%section#news
  %h1.page_header News
  - @posts.each do |post|
    %article.news_list_item
      %h1.article_list_header= link_to post.title, post_url(post.id)
      =image_tag post.image(:thumb).to_s 
      %p= simple_format(preview(post.body))
      = link_to 'mehr', post_url(post.id)