#rentabike
  .slidecontainer
    .slide Rad vergessen?
  .slidecontainer  
    .slide Kettenblatt zu klein?
  .slidecontainer  
    .slide Lenkerband schmutzig?
  .slidecontainer
    .slide Keine Lust auf teuren Transport?
  .slidecontainer 
    .slide 
      = link_to (image_tag ('rentlogo.png')), "mailto:rent-a-bike@berner-bikes.com"
      .textlink= link_to ('rent-a-bike@BERNER-Bikes.com'), "mailto:rent-a-bike@berner-bikes.com"
      
   