%section#news

  %h1.page_header 
    Benutzer-Übersicht
    - if can? :create, @user
      .admin_link_inline= link_to '+', register_path
  %article
    %table
      %tr
        %th Name
        %th Admin
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.name
          %td
            - if (user.admin == true)
              Admin
            - else 
              X
          %td
            - if (user.author == true)
              Autor
            - else 
              X    
          %td= link_to 'bearbeiten', edit_user_path(user)
          %td= link_to 'löschen', user, confirm: 'Sind Sie sicher?', method: :delete