%h1.page_header Material
%article.material
  %p An dieser Stelle wolle wir euch heute das Wettkampfrad von Timo Berner vorstellen:
  .image
    =image_tag ('material/SM611-orange-01-orig.jpg')
    %p Ausgestattet ist das Rad mit Lightweight Laufrädern in spezieller BERNER Optik
  .image
    =image_tag ('material/SM611-orange-02.jpg')
    %p Für den nötigen Grip sorgen die Racing Ralph HT Reifen von Schwalbe
  .image
    =image_tag ('material/SM611-orange-03.jpg')
    %p Die bewährte Carbon Lenker/Vorbau Kombination von Ratio
  .image
    =image_tag ('material/SM611-orange-04.jpg')
    %p Prologo stellt die Sättel zur Verfügung
  .image
    =link_to (image_tag ('material/SM611-orange-05.jpg')), "http://shop.berner-bikes.com/drupalprod/CX-Brake"
    %p Die BERNER CX-Brake für perfekte Kontrolle
  .image
    =link_to (image_tag ('material/SM611-orange-06.jpg')), "http://shop.berner-bikes.com/drupalprod/Red"
    %p Das BERNER SRAM Red Schaltwerk


