%h1.page_header Material
%article.material
  %p An dieser Stelle wollen wir euch heute das Wettkampfrad von Timo Berner vorstellen:
  .material_slideshow
    .image
      =image_tag ('material/SM611-orange-01-orig.jpg')
      .subtext
        %p Ausgestattet ist das Rad mit Lightweight Laufrädern in spezieller BERNER Optik
    .image
      =image_tag ('material/SM611-orange-02.jpg')
      .subtext
        %p Für den nötigen Grip sorgen die Racing Ralph HT Reifen von Schwalbe
    .image
      =image_tag ('material/SM611-orange-03.jpg')
      .subtext
        %p Die bewährte Carbon Lenker/Vorbau Kombination von Ratio
    .image
      =image_tag ('material/SM611-orange-04.jpg')
      .subtext
        %p Prologo stellt die Sättel zur Verfügung
    .image
      =link_to (image_tag ('material/SM611-orange-05.jpg')), "http://shop.berner-bikes.com/drupalprod/CX-Brake"
      .subtext
        %p Die BERNER CX-Brake für perfekte Kontrolle
    .image
      =link_to (image_tag ('material/SM611-orange-06.jpg')), "http://shop.berner-bikes.com/drupalprod/Red"
      .subtext
        %p Das BERNER SRAM Red Schaltwerk


