%p#notice= notice 
%section#news
  %h1.section_header News
  %article.news_item
    =image_tag @post.image(:medium).to_s 
    %h1.article_header= link_to @post.title, post_url
    %p= simple_format(@post.body)
     
    = link_to 'zurück', news_path
