%section#fahrer
  %h1.section_header Team
  - @riders.each do |rider|
    .fahrer
      = link_to (image_tag rider.image(:team).to_s), rider_url(rider.id) 
      %h1.article_header= link_to rider.name, rider_url(rider.id)
