%section.single_image
  %h1.page_header
    =@gallery.description
    = render 'admin_buttons', :gallery => @gallery
  .slide
    =image_tag @gallery.image(:slide).to_s
    .slide_tag
      .logo
        = image_tag 'LogoBerner.png'
        .single_image Team.BERNER-Bikes.com
  
=link_to "Slideshow anschauen >>", bilder_path


=render "moreimages"
%br