/**** Variables ****/

$dark: #555;
$darkborder: #ddd;
$lightborder: #fff;
$shadow: #222;

/**** Basic Layout ****/

#wrap {
	width: 1000px; 
	margin: 20px auto;
	padding: 0 20px;
}
#admin {
    position: static;
    top: 0px;
    background: #3f6;
    width: 100%;
    padding: 5px;
    text-align: center;
   	.admin_link{
		font-size: 12px;
		margin: 5px 10px;
		a { 
			color: #000;
			font-weight: bold;
		}
		a:hover {
			color: #d00;
		}
	}
}
#header {
	display:block;
	margin-bottom: 25px;
	#social_bar {
		float:right;
		width: 220px;
		text-align:right;
		margin-top: -2px;
	}
	.social{
		display: inline;
		margin: 0px 0px 0 5px;
		img {
			border-radius: 3px;
		}
		img:hover {
			-webkit-transform:rotate(5deg);
		}
	}
	#menu{
		width: 976px;
		background: #000;
		background-image: linear-gradient(bottom, #000000 0%, #222222 100%);
		background-image: -o-linear-gradient(bottom, #000000 0%, #222222 100%);
		background-image: -moz-linear-gradient(bottom, #000000 0%, #222222 100%);
		background-image: -webkit-linear-gradient(bottom, #000000 0%, #222222 100%);
		background-image: -ms-linear-gradient(bottom, #000000 0%, #222222 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #000000),
			color-stop(1, #222222)
		);


		text-align: left;
		padding: 7px 20px 8px 5px;
		border-radius: 5px;
		border-bottom: solid 3px #c00;

		.logo {
			float: left;
			margin: -2px 10px 0 0;
		}
		img:hover {
			-webkit-transform:rotate(5deg);

		}
	}

}
#left {
	display:block;
	float:left;
	width: 720px;
	#content{
		clear: both;
	}
	
}
#footer {
	clear: both;
	background: #000;
	background-image: linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #222222 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000000),
		color-stop(1, #222222)
	);

	border-bottom: solid 3px #c00;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}	


#right{
	display: block;
	width: 220px;
	padding: 10px;
	border-radius: 5px;
	float: right;
	margin-bottom: 20px;
	background: #fff;
	img {
		margin-bottom: 10px;
	}
}
#sparks {
	text-align: center;
	margin: 20px;
	a {
		color: #d00;
		text-decoration: none;
		font-size: 14px;
	}
}


/**** Content Layout ***/

#content{
	h1.section_header {
		padding: 7px 0 5px 10px;	
		margin-bottom: 20px;
	}
	h1.page_header {
		padding: 7px 0 7px 10px;
		margin-bottom: 20px;
	}
	table{
		margin: 0 10px 0 10px;
	}
	.news_item {
		margin-bottom: 80px;
	}
	.news_list_item {
		margin-bottom: 40px;
	}
	section.team {
		display: block;
		clear: both;
	}
}

#bottom_row {
	clear: both;
	width: 740px;
}

/**** Post Layout ****/

article {
	clear: both;
	padding: 0px 10px 20px 0px;
	p {
		margin-bottom: 10px;
	}
	.first_image, .second_image {
		float: left;
		display: block;
		margin: 10px 10px 10px 0px;
		color: #444;
		img {
			border-radius: 5px;
			margin-bottom: 3px;
		}
	}
	.backlink {
		clear: both;
		float: right;
		margin: 20px 0 30px;
	}

}
#headlines {
	clear: both;
	margin-bottom: 30px;
	padding: 10px;
	background: #000;
	border-radius:5px;
	.headline {
		margin-bottom: 5px;
	}
}
/**** News Block ****/
#news {
	clear:both;
}
.news_block {
	display: block;
	float: left;
	height: 280px;
	width: 220px;
	overflow: hidden;
	margin: 0 30px 20px 0;
	img {
		float: left;
		display: block;
		border-radius: 5px;
		margin: 0px 10px 0px 0px;
	}
	h1 a {
		size: 20px;
		text-decoration: none;
	}
}
.news_block:last-child {
	margin-right: 0px;
}

/**** Fahrer layout ****/

.fahrer {
	display: block;
	float: left;
	width: 160px;
	text-align: center;
	margin: 0px 20px 20px 0;
	img {
		border-radius: 5px;
	}
}
article.fahrer {
	width: 708px;
	overflow: hidden;
	margin-bottom: 20px;
	.rider_image {
		float: left;
		display: block;
		width: 240px;
		margin: 0 0 0 0px;
	}
	.rider_content {
		text-align: left;
		width: 450px;
        min-height: 300px;
		margin: 0 0 0 240px;
		padding: 10px;
		
		li {
		    min-height: 20px;
		    em {
		    	font-weight: bold;
		    }
		}
	}
}
/**** Slides Layout ****/
#rotator_wrapper{
	height: 400px;
	overflow: hidden;
	background: #000;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px $shadow;

}
#riderslideshow {
	width:220px;
	float: left;
	margin: 0 0px 20px 0;
}
.slide_image {
	position: relative;
	margin: 0 0 20px 0;
	.image img {
		border-radius: 5px;

	}
}
.name_tag{
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	border-radius: 5px;
	width: 260px;
	position: absolute;
	left: -122px;
	bottom: 124px;
	color: #ddd;
	font-size: 18px;
	padding:5px 10px;
	color: #ddd;

	background: #333;
	opacity: 0.8
}
.slide_tag {
 	position: absolute;
 	width: 100%;
 	height: 20%;
 	background: #333;
 	bottom: 20px;
 	border-top: 1px solid #444;
 	border-bottom: 1px solid #222;
 	opacity: 0.8;
 	.title {
 		width: 550px;
		padding: 10px;	
 	}
 	.logo {
 		position: absolute;
 		bottom: 5px;
 		right: 0px;
 		text-align: center;
 		width: 160px;
 		height: 30px;
 		padding: 3px;
 		img {
 			margin:0 5px -2px 0;
 		}
 	}
 }

#material {
	width: 220px;
	display: block;
	float: left;
	margin: 0 30px 20px 30px;
}

#social {
	width: 220px;
	display: block;
	float: left;
}


/**** Admin Layout ***/


.field {
	margin: 10px 0;
	td {
		text-align: right;
 	}
}

.new {
	padding: 8px;
	background: #3f6;
	display: block;
	float: right;
	border-radius: 5px;
	a {
		color: #000;
		font-weight: bold;
		font-size: 14px;
	}
	a:hover {
		color: #f00;
	}
}
.backlink {
	margin: 20px 0 30px;
}