/**** Variables ****/

$dark: #555;
$darkborder: #ddd;
$lightborder: #fff;
$shadow: #ccc;

/**** Basic Layout ****/

#wrap {
	width: 1000px; 
	margin: 20px auto;
}
#header {
	display:block;
	margin-bottom: 25px;
	#social_bar {
		float:right;
		width: 220px;
		text-align:right;
		margin-top: -2px;
	}
	.social{
		display: inline;
		margin: 0px 0px 0 5px;
		img {
			border-radius: 3px;
		}
		img:hover {
			box-shadow: 2px 2px 10px #ddd;
			-webkit-transform:rotate(5deg);

		}
	}
	#menu{
		width: 976px;
		background-image: linear-gradient(bottom, #222222 0%, #666666 100%);
		background-image: -o-linear-gradient(bottom, #222222 0%, #666666 100%);
		background-image: -moz-linear-gradient(bottom, #222222 0%, #666666 100%);
		background-image: -webkit-linear-gradient(bottom, #222222 0%, #666666 100%);
		background-image: -ms-linear-gradient(bottom, #222222 0%, #666666 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #222222),
			color-stop(1, #666666)
		);

				text-align: left;
		padding: 7px 20px 8px 5px;
		border-radius: 5px;
		border-bottom: solid 3px #c00;
		box-shadow: 0 0px 10px #999;

		.logo {
			float: left;
			margin: -2px 10px 0 0;
		}
		img:hover {
			-webkit-transform:rotate(5deg);

		}
	}

}
#left {
	display:block;
	float:left;
	width: 720px;
	#content{
		clear: both;
	}
	
}
#footer {
	clear: both;
	background: #f6f6f6;
	border-radius: 5px;
	border-top: solid 2px $lightborder;
	border-left: solid 2px $lightborder;
	border-right: solid 2px $darkborder;
	border-bottom: solid 2px $darkborder;

	margin-top: 20px;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 0px 10px $shadow;

}	


#right{
	display: block;
	width: 220px;
	padding: 0px;
	float: right;
	margin-bottom: 20px;
	img {
		margin-bottom: 10px;
	}
}
#sparks {
	text-align: center;
	margin: 20px;
	a {
		color: #d00;
		text-decoration: none;
		font-size: 14px;
	}
}


/**** Content Layout ***/

#content{
	h1.section_header {
		border-bottom: solid 2px $darkborder;
		padding: 7px 0 5px 10px;	
		margin-bottom: 20px;
	}
	table{
		margin: 0 10px 0 10px;
	}
}

#bottom_row {
	clear: both;
	width: 740px;
}

/**** Post Layout ****/

article {
	clear: both;
	padding: 0px 10px 20px 0px;

	img {
		float: left;
		display: block;
		border-radius: 5px;
		margin: 0px 10px 0px 0px;
	}
}

/**** News Block ****/

.news_block {
	display: block;
	float: left;
	height: 240px;
	width: 220px;
	overflow: hidden;
	margin: 0 30px 20px 0;
	img {
		float: left;
		display: block;
		border-radius: 5px;
		margin: 0px 10px 0px 0px;
	}
	a {
		size: 20px;
		text-decoration: none;
	}
}
.news_block:last-child {
	margin-right: 0px;
}

/**** Fahrer layout ****/

.fahrer {
	display: block;
	float: left;
	width: 160px;
	text-align: center;
	margin: 0px 20px 20px 0;
	img {
		border-radius: 5px;
	}
}
article.fahrer {
	width: 708px;
	min-height: 360px;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 0 0 10px $shadow;
	overflow: hidden;
	margin-bottom: 20px;
	.rider_image {
		float: left;
		display: block;
		width: 240px;
		margin: 0 0 0 20px
	}
	.rider_content {
		text-align: left;
		width: 400px;
        min-height: 300px;
		margin: 0 0 0 280px;
		border-radius: 5px;
		box-shadow: 0 0 10px #666;
		padding: 10px;
		background: #ddd;
		background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(221,221,221) 0%, rgb(255,255,255) 81%);
		background-image: -o-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(221,221,221) 0%, rgb(255,255,255) 81%);
		background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(221,221,221) 0%, rgb(255,255,255) 81%);
		background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(221,221,221) 0%, rgb(255,255,255) 81%);
		background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(221,221,221) 0%, rgb(255,255,255) 81%);
		opacity: 0.9;
		li {
		    min-height: 20px;
		    em {
		    	font-weight: bold;
		    }
		}
	}
}
/**** Slides Layout ****/
#rotator_wrapper{
	height: 400px;
	overflow: hidden;
	background: #000;
	margin-top: 0px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px $shadow;

}
#riderslideshow {
	width:220px;
	float: left;
	margin: 0 0px 20px 0;
}
.slide_image {
	position: relative;
	margin: 0 0 20px 0;
	.image img {
		border-radius: 4px;

	}
}
.name_tag{
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	border-radius: 5px;
	width: 260px;
	position: absolute;
	left: -122px;
	bottom: 124px;
	color: #ddd;
	font-size: 18px;
	padding:5px 10px;
	color: #ddd;

	background-image: linear-gradient(bottom, #222222 0%, #666666 100%);
	background-image: -o-linear-gradient(bottom, #222222 0%, #666666 100%);
	background-image: -moz-linear-gradient(bottom, #222222 0%, #666666 100%);
	background-image: -webkit-linear-gradient(bottom, #222222 0%, #666666 100%);
	background-image: -ms-linear-gradient(bottom, #222222 0%, #666666 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #222222),
		color-stop(1, #666666)
	);

}
.slide_tag {
 	position: absolute;
 	width: 100%;
 	height: 25%;
 	background: #333;
 	bottom: 20px;
 	border-top: 1px solid #444;
 	border-bottom: 1px solid #222;
 	opacity: 0.8;
 	.title {
 		width: 550px;
		padding: 10px;	
 	}
 	.logo {
 		position: absolute;
 		bottom: 5px;
 		right: 0px;
 		text-align: center;
 		width: 160px;
 		height: 30px;
 		padding: 3px;
 		img {
 			margin:0 5px -2px 0;
 		}
 	}
 }

#material {
	width: 220px;
	display: block;
	float: left;
	margin: 0 30px 20px 30px;
}

#social {
	width: 220px;
	display: block;
	float: left;
}


/**** Admin Layout ***/

#admin {
	li {
		margin: 10px 0;
	}
}
