/**** Variables ****/

$dark: #555;
$darkborder: #ddd;
$lightborder: #fff;
$shadow: #222;


body {
	font-family: Arial, sansserif;
	color: #ddd;
	background: #141414;
	background-image: url(back.jpg);
	font-size: 12px;

	p {
		line-height: 14px;
		color: #fff;
	}
	em {
		margin-right: 20px;
		font-weight: bold;
	}
	a {
		color: #aaa;
		text-decoration: none;
	}
	a:hover {
		color: #c00;
	}
}

#header{ 

	#menu {
		a {
			color: #eee;
			text-decoration: none;
			font-size: 18px;
			margin-left: 20px;
		}
		a:hover {
			color: #f00;
		}
	}
}

#content{
	h1.section_header {
		font-size: 20px;
		color: #ddd;
		background-color: #000;
		background-image: url(menu_back.png);
		background-repeat: repeat-x;
		border-bottom: solid 3px #c00;
		border-radius: 5px;
	}

	h1.page_header {
		font-size: 24px;
		background-image: url(menu_back.png);
		background-repeat: repeat-x;
		border-radius: 5px;

	}
	h1.article_header{ 
		font-size: 24px;
		padding: 0 0 5px 0px;
	}
	h1.article_list_header{ 
		font-size: 20px;
		padding: 0 0 4px 0px;
		margin-left: 10px;

	}
	h1.team_header {
		font-size: 20px;
		border-bottom: 2px solid #600;
		padding: 6px 0 4px 10px;
		margin-bottom: 10px;
	}
	h2.rider_name {
		font-size: 14px;
		padding: 5px;
	}

	h1.block_header{
		a {
			font-size: 14px;
			color: #fff;
		}
		margin-bottom: 7px;
	}
	p {
		margin-top: 10px;
		margin-left: 10px;
	}
	.news_block {
		p {
			margin-top:0px;
			margin-left: 0px;
		}
	}
	.more {
		margin-left: 10px;
	}
	th {
		font-weight: bold;
		background: #000;
		padding: 4px;
		vertical-align: left;
	}
	td {
		padding: 4px 10px;
		vertical-align: middle;
		text-align: left;
	}
	.slide_tag{
		color: #fff;
		h1 {
		    font-size: 20px;
		    margin: 10px 0 0 10px;
		}
		h2 {
		    font-size: 16px;
		    margin: 10px 0 0 10px;	
		}
		.logo {
			font-size: 24px;
			color: #c00;
			.single_image {
				line-height: 18px;
				font-size: 14px;
				color: #fff;
			}
		}
		p {
			font-size: 12px;
			width: 570px;
			line-height: 13px;
			color: #ddd;
			margin-top: 3px;
		}
	}

	.date {
		font-style: italic;
		color: #444;
		margin-right: 20px;
	}
	.name {
		font-style: italic;
		color: #444;
		margin-left: 20px;	
	}
	.namedate {
		font-style:italic;
		color: #444;
		margin-left: 10px;
	}
}
#footer {
	a {
		text-decoration:none;
	}
	a:hover {
		color: #f00;
	}
}
#sparks {
	text-align: right;
}

/***** ADMIN BUTTONS *********/
.admin_buttons {
	position: absolute;
	top: -7px;
	right: 7px;
}
#fahrer_display .admin_buttons, .news_item .admin_buttons, .single_image .admin_buttons {
	position: relative;
	float: right;
	margin: 5px 10px;
}
.fahrer .admin_buttons {
	top: -5px;
	right: -5px;
}
.admin_link_pict {
	display: inline;
	line-height: 20px;
}


.admin_link_edit {
	display: inline;
	a {	
		line-height:0;
		font-size: 20px;
		font-weight: bold;
		color: #aaa;
		padding: 0px 4px;
		border-radius: 15px;
		background: #00a;
		border: solid 2px #aaa;	
	}
	a:hover {
		color: #fff;
		background: #00f;	
		border-color: #fff;
	}
}
.admin_link_delete {
	display: inline;	
	a {
		font-size: 20px;
		font-weight: bold;
		color: #aaa;
		padding: 0px 4px;
		border-radius: 15px;
		background: #a00;
		border: solid 2px #aaa;	
	}
	a:hover {
		color: #fff;
		background: #f00;	
		border-color: #fff;
	}
}
.admin_link_inline {
	display: inline;
	a {
		font-weight: bold;
		color: #090;
		float:right;
		margin: -3px 10px 0px;	
		padding: 0 5px;
		border-radius: 15px;
		border: 2px solid #222;	
		background: #444;	
	}
	a:hover {
		color: #0f0;
		background: #666;	

	}
}