/**** Variables ****/

$dark: #555;
$darkborder: #ddd;
$lightborder: #fff;
$shadow: #ccc;


body {
	font-family: Helvetica, Arial, sansserif;
	color: #222;
	background: #fff;
	font-size: 12px;
	p {
		line-height: 14px;
	}
	em {
		margin-right: 20px;
		font-weight: bold;
	}
}

#header{ 

	#menu {
		a {
			color: #eee;
			text-decoration: none;
			font-size: 18px;
			margin-left: 10px;
			text-shadow: 0px 0px 2px #000;

		}
		a:hover {
			color: #f00;
		}
	}
}

#content{
	h1.section_header {
		font-size: 24px;
		color: #444;
		background-image: linear-gradient(bottom, rgb(255,255,255) 100%, rgb(221,221,221) 0%);
		background-image: -o-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(255,255,255) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(221,221,221) 0%);
		background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 0%, rgb(255,255,255) 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgb(255,255,255)),
			color-stop(1, rgb(221,221,221))
		);
		border-radius: 5px;
	}
	h1.article_header{ 
		a {
			font-size: 20px;
			line-height: 24px;
			color: #222;
			text-decoration: none;
		}
		a:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	th {
		font-weight: bold;
		background: #eee;
		padding: 4px;
	}
	td {
		padding: 4px 10px;
		vertical-align: middle;
	}
	.slide_tag{
		font-size: 20px;
		color: #ddd;
		.title {
			line-height: 22px;
		}
		.logo {
			font-size: 24px;
			color: #df00;
		}
	}
	.date{
		font-size: 10px;
		font-style: italic;
		margin-bottom: 10px;
	}
}
#footer {
	a {
		color: #222;
		text-decoration:none;
	}
	a:hover {
		color: #f00;
	}
}
